CompileFlags:
  CompilationDatabase: c:\GS_Labor\ITS-BRD-VSC\Programs\TestNewFont\out\TestNewFont\ITSboard\Debug
  Add:
    - '-IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/Inc'
    - >-
      -IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../stm32cubef4/Utilities/Fonts
    - '-IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../DisplayWaveshare/Inc'
    - >-
      -IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../ITS_BRD_LIB/Utilities/AddFonts
    - '-IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../lwip/src/include'
    - >-
      -IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/tmp/TestNewFont.Debug+ITSboard
    - '-IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/RTE/_Debug_ITSboard'
    - >-
      -IC:/Users/bumuk/AppData/Local/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include
    - >-
      -IC:/Users/bumuk/AppData/Local/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - '-IC:/GS_Labor/ITS-BRD-VSC/Programs/TestNewFont/../../ITS_BRD_LIB/Inc'
